<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Clase 12</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    </head>
    <body>
        <div class="card-header bg-info d-flex">
            <div class="ml-auto">
              {% if user.is_authenticated %}
                <a href="{% url 'logout'%}?next={{request.path}}" class="btn btn-dark" type="button">Desconectar</a>
                <a href="" type="button" class="btn btn-dark">Carrito</a>
                {% else %}
                <a href="{% url 'login'%}?next={{request.path}}" class="btn btn-dark" type="button">login</a>
                <a href="{% url 'Final:registro' %}" class="btn btn-dark">register</a>
                {% endif %}
            </div>
          </div>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="btn btn-dark mr-2 " href="{% url 'Final:index' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="btn btn-dark dropdown-toggle mr-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categorias
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Gaseosas</a>
              <a class="dropdown-item" href="#">Coca</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Agregar categorias</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark mr-2" href="{% url 'Final:AcercaDe' %}">Acerca de</a>
          </li>
          <li class="nav-item">
            <form action="" method="POST">
              <a class="btn btn-dark mr-2" href="">Contacto</a>
            </form>
          </li>
          {% if perms.PRUEBAFINAL.add_producto %} 
          <li class="nav-item">
            <a class="btn btn-dark" href="{% url 'Final:nProducto' %}">Nuevo Producto</a>
          </li>
          {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
        {% block content %}
        {% endblock %}

    <footer class="bg-info" style="position: fixed;bottom: 0;width: 100%;" >
        Hola whats happen
    </footer>
    </body>
</html>