{% extends "hola/layout.html" %}
{% block body %}

<div class="container-sm pt-3 mt-4 border shadow" style="text-align: center;">
<h1>Acerca de</h1>

<p>JAGUARETE KAA S.A  es una red de supermercados con mas de 20 años de experiencia enfocados a satisfacer las necesidades 
    de nuestros clientes.</p>

<p>Con la creacion de este sitio web eCommerce buscamos brindarles otro tipo de servicio a nuestros clientes,con el que podran comprar de manera facil y 
    sencillas sus productos predilectos sin necesidad de acercace a una sucursal.</p>
</div>
    {% endblock %}